.rules {
  list-style-type: none;
}

.table {
  margin-bottom: 5px;
}

.nav-to-save {
  float: right;
}

.edit-button {
  float: right;
  margin-top: 0;
  margin-bottom: 30px;
}

.btn {
  /* float: right; */
  margin-bottom: 0;
}

.btn-success {
  float: right;
}

.fa-pen-square, .fa-plus-square {
  background-color: white;
}
