<div class="container">
    <!--<div class="row">
        <div class="col-2">
            <div class="list-group">
                <a routerLink="/admin/users" class="list-group-item list-group-item-action">Users</a>
                <a href="#" class="list-group-item list-group-item-action">Bookings</a>
                <a routerLink="/admin/rules" class="list-group-item list-group-item-action">Rules</a>
            </div>
        </div>-->
        <!--<div class="col-10">-->
            <router-outlet></router-outlet>
        <!--</div>
    </div>-->
</div>
