<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/admin">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Admin panel</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                <a routerLink="/admin/users" class="list-group-item list-group-item-action">Users</a>
                <a href="#" class="list-group-item list-group-item-action">Resources</a>
                <a href="#" class="list-group-item list-group-item-action">Folders</a>
                <a href="#" class="list-group-item list-group-item-action">Bookings</a>
                <a href="#" class="list-group-item list-group-item-action">Rules</a>
            </div>
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
