<h2>Administrator Panel</h2>
<div id="content">
  <div class="plate users">
    <div class="head">
      <div class="icon"><i class="fas fa-users fa-6x"></i></div>
      <h3>Users</h3>
      <div class="text">Management of all system of entire system: blocking, approval, editing, notifications.</div>
    </div>
    <div class="foot">
      <a routerLink="/admin/users">Manage users</a>
    </div>
  </div>

  <div class="plate all-bookings">
    <div class="head">
      <div class="icon"><i class="far fa-calendar-alt fa-8x"></i></div>
      <h3>All Bookings</h3>
      <div class="text">
        View and manage the bookings of the entire system.
        Time, usage status, description
        are available from this seciton.
      </div>
    </div>
    <div class="foot">
      <a routerLink="/cabinet/all-bookings">Review and Manage all bookings</a>
    </div>
  </div>

  <div class="plate rules">
    <div class="head">
      <div class="icon"><i class="fas fa-clipboard-list fa-8x"></i></div>
      <h3>Rules</h3>
      <div class="text">
        View and manage the rules for the resources. Edit times for steps, service, limits and more.
      </div>
    </div>
    <div class="foot">
      <a routerLink="/admin/rules">Manage rules</a>
    </div>
  </div>

  <div class="plate statistics">
    <div class="head">
      <div class="icon"><i class="far fa-chart-bar fa-8x"></i></div>
      <h3>Statistics</h3>
      <div class="text">
        Various statistics for the bookings, resources and users of a system.
      </div>
    </div>
    <div class="foot">

      <a routerLink="/admin/stats/bookings">Bookings</a>
      &nbsp;&nbsp; / &nbsp;&nbsp;
      <a routerLink="/admin/stats/resources">Resources</a>
      &nbsp;&nbsp; / &nbsp;&nbsp;
      <a routerLink="/admin/stats/users">Users</a>
    </div>
  </div>


</div>
