<h2 class="text-center">Administrator Panel</h2>

<div class="card-deck my-4">
  <div class="card">
    <div class="card-body">
      <i class="fas fa-users"></i>
      <h5 class="card-title">Users</h5>
      <p class="card-text">
        Management of all system of entire system: blocking, approval, editing, notifications.
      </p>
    </div>
    <div class="card-footer bg-transparent">
      <a routerLink="/admin/users" class="btn btn-primary">Manage users</a>
      <a routerLink="/admin/users/create" class="btn btn-primary">Create admin</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <i class="far fa-calendar-alt"></i>
      <h5 class="card-title">All Bookings</h5>
      <p class="card-text">
        View and manage the bookings of the entire system.
        Time, usage status, description
        are available from this seciton.
      </p>
    </div>
    <div class="card-footer bg-transparent">
      <a routerLink="/admin/bookings" class="btn btn-primary">Review and Manage</a>
    </div>
  </div>
</div>

<div class="card-deck my-4">
  <div class="card">
    <div class="card-body">
      <i class="fas fa-clipboard-list"></i>
      <h5 class="card-title">Rules</h5>
      <p class="card-text">
        View and manage the rules for the resources. Edit times for steps, service, limits and more.
      </p>
    </div>
    <div class="card-footer bg-transparent">
      <a routerLink="/admin/rules" class="btn btn-primary">Manage rules</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <i class="far fa-chart-bar"></i>
      <h5 class="card-title">Statistics</h5>
      <p class="card-text">
        Various statistics for the bookings, resources and users of a system.
      </p>
    </div>
    <div class="card-footer bg-transparent">
        <a routerLink="/admin/stats/bookings" class="btn btn-primary">Bookings</a>
        <a routerLink="/admin/stats/resources" class="btn btn-primary">Resources</a>
        <a routerLink="/admin/stats/users" class="btn btn-primary">Users</a>
    </div>
  </div>
</div>
