/* Layout */
.header-site {
  padding-top: 10px;
  -webkit-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.75);
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background: #fff;
}

.logo {
  color: #000000;
}

  .logo span {
    color: #ff627b;
  }
/* Layout */
