<nav class="navbar row bg-warning d-flex justify-content-between">

  <div class="navbar-brand pl-0">
    <h1 class="h1 mb-0">
      Booking
      <img alt="App" src="assets/img/square.svg">
    </h1>

  </div>

  <nav class="bg-success">

    <div class="cabinets" *ngIf="authService.isUser">
      <a class="btn btn-outline-secondary" routerLink="cabinet">User Cabinet</a>
      <a class="btn btn-outline-primary" routerLink="admin" *ngIf="authService.isAdmin">Admin Panel</a>
    </div>



    <div *ngIf="authService.isUser">
      Hi, {{userInfo.username}}


      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
          Example
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header"><b>Example</b></li>
          <li><a href="example1.html">Example 1</a></li>
          <li><a href="example2.html">Example 2</a></li>
          <li><a href="example3.html">Example 3</a></li>
          <li><a href="example4.html">Example 4</a></li>
          <li><a href="example5.html">Example 5</a></li>
        </ul>
      </div>


    </div>

      <!--<div *ngIf="authService.isUser">
        <button (click)="logout()">Sign Out</button>
      </div>-->

      <nav class="nav" *ngIf="!authService.isUser">
        <a class="nav-link" routerLink="/login">Sign In</a>
        <a class="nav-link" routerLink="/register">Sign Up</a>
      </nav>


  </nav>
</nav>
