<nav class="navbar d-flex justify-content-between">

  <a class="navbar-brand pl-0" routerLink="">
    <h1 class="h1 mb-0">
      Booking
      <img alt="App" src="assets/img/square.svg">
    </h1>
  </a>

  <nav class="btn-group">
    <div *ngIf="userInfo.isUser">
      <div class="d-flex justify-content-end">
        <button class="btn bg-transparent text-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle User Menu Dropdown</span>
          <i *ngIf="userInfo.isAdmin" class="fas fa-star" style="color:goldenrod" title="Administrator"></i>
          <i *ngIf="!userInfo.isAdmin" class="far fa-user mr-2"></i>
          <span class="pr-1">{{userInfo.username}}</span>
        </button>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" routerLink="cabinet"><i class="far fa-address-card mr-2"></i> User Cabinet</a>
          <a class="dropdown-item" routerLink="admin" *ngIf="userInfo.isAdmin"><i class="fas fa-toolbox mr-2"></i> Admin Panel</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()"><i class="fas fa-sign-out-alt mr-2"></i> Sign Out</a>
        </div>
      </div>
    </div>

    <div *ngIf="!userInfo.isUser">
      <button type="button" routerLink="/login" class="btn bg-transparent text-primary">
        Sign In
      </button><button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="btn bg-transparent text-primary dropdown-toggle dropdown-toggle-split mx-0">
        <span class="sr-only">Toggle Authentication Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/login">Sign In</a>
        <a class="dropdown-item" routerLink="/register">Sign Up</a>
      </div>
    </div>
  </nav>

</nav>
