/* Reset */
body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none;
}


/* Reset */



/* Main */
.main-site {
    margin-top: 100px;
    margin-bottom: 20px;
}

.main-site .card {
    margin-bottom: 20px;
}
/* Main */
/* Register */
.fa-facebook-square {
  font-size: 30px;
  margin-right: 10px;
}

.fa-instagram {
    font-size: 30px;
    color: #ff6cbd;
}
/* Register */

/* Cabinet-articles */
.cabinet-articles h3 a {
    color: #000;
}
/* Cabinet-articles */


@media only screen and (max-width:960px) {
}



@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}
