<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Change password</div>
        <div class="card-body">
          <div *ngIf="successMessage != ''" class="alert alert-success" role="alert">
            {{ successMessage }}
          </div>
          <div *ngIf="apiError != ''" class="alert alert-danger" role="alert">
            {{ apiError }}
          </div>

          <form [formGroup]="changePaswordForm" (ngSubmit)="changePassword()">

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="currentPassword">Current Password</label>
              <div class="col-md-6">
                <input formControlName="currentPassword" type="password" class="form-control underlined"
                       id="currentPassword" placeholder="***">
                <span class="form-help-text" *ngIf="changePaswordForm.get('currentPassword').invalid && changePaswordForm.get('currentPassword').dirty">
                  <span *ngIf="changePaswordForm.get('currentPassword')['errors']['required']">Field can`t be empty.</span>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="password">Password</label>
              <div class="col-md-6">
                <input formControlName="password" type="password" class="form-control underlined" [ngClass]="{'ng-invalid':changePaswordForm.hasError('notSame')}"
                       id="password" placeholder="***">
                <span class="form-help-text" *ngIf="changePaswordForm.get('password').invalid && changePaswordForm.get('password').dirty">
                  <span *ngIf="changePaswordForm.get('password')['errors']['required']">Field can`t be empty.</span>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="confirmPassword">Confirm Password</label>
              <div class="col-md-6">
                <input formControlName="confirmPassword" type="password" class="form-control underlined" [ngClass]="{'ng-invalid':changePaswordForm.hasError('notSame')}"
                       id="confirmPassword" placeholder="***">
                <span class="form-help-text" *ngIf="changePaswordForm.hasError('notSame') && changePaswordForm.get('confirmPassword').dirty">
                  <span *ngIf="changePaswordForm.hasError('notSame')">Passwords don`t match.</span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary"
                        [disabled]="changePaswordForm.invalid">
                  Change
                  <span class="ti-user"></span>
                </button>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
