<form [formGroup]="rangeselector" class="">
  <div class="dateContainer">
    <div class="startDateTime">
      <mat-form-field class="">
        <input formControlName="startDate" matInput [matDatepicker]="startDatePicker" placeholder="Choose start date">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="">
        <mcc-timer-picker mccConnectedTimerPicker [mccConnectedTimerPickerOrigin]="inputTriggerStartTime" ></mcc-timer-picker>
        <input formControlName="startTime" matInput mccTimerPickerOrigin #inputTriggerStartTime="mccTimerPickerOrigin" placeholder="Chose start time" />
      </mat-form-field>
    </div>
    <div class="endDateTime">
      <mat-form-field class="example-full-width">
        <input formControlName="endDate" matInput [matDatepicker]="endDatePicker" placeholder="Choose end date">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mcc-timer-picker mccConnectedTimerPicker [mccConnectedTimerPickerOrigin]="inputTriggerEndTime"></mcc-timer-picker>
        <input formControlName="endTime" matInput mccTimerPickerOrigin #inputTriggerEndTime="mccTimerPickerOrigin" placeholder="Chose end time" />
      </mat-form-field>
    </div>
  </div>
</form>

<div *ngIf="mode!=''">
  <ng-container *ngIf="mode == 'admin'">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="idT">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let booking"> {{booking.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startTimeT">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Start time\date </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let booking"> {{booking.startTime | date:'short'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endTimeT">
        <mat-header-cell mat-header-cell *matHeaderCellDef> End time\date </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let booking"> {{booking.endTime | date:'short'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="resourceIdT">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Resource </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let booking"> <a [routerLink]="['/resources/' + booking.resourceId]"> {{getResourceNameById(booking.resourceId)}} </a> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="noteT">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let booking"> {{booking.note}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userNameT">
        <mat-header-cell mat-header-cell *matHeaderCellDef> User </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let booking"> <a [routerLink]="['/admin/users/' + booking.createdUserId]">{{getUserName(booking.createdUserId)}}</a> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="terminationTimeT">
        <mat-header-cell mat-header-cell *matHeaderCellDef> State </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let booking">
          <i *ngIf="isAfter(booking.startTime) && !isTerminated(booking.terminationTime)" class="far fa-clock" title="Awaiting" style="color:darkgoldenrod"></i>

          <span *ngIf="isInRange(booking.startTime, booking.endTime) && !isTerminated(booking.terminationTime)" class="fa-stack" title="In Progress" style="font-size: 0.7em;">
            <i class="fa fa-spinner fa-stack-2x fa-spin" style="color:gainsboro"></i>
            <i class="fa fa-check fa-stack-1x" style="font-size: 1.3em;color:rgba(34,139,34,0.6)"></i>
          </span>

          <i *ngIf="isBefore(booking.endTime) && !isTerminated(booking.terminationTime)" class="fas fa-check-double" title="Finished Successfully" style="color:forestgreen"></i>

          <i *ngIf="isTerminated(booking.terminationTime)" class="fas fa-ban" title="Terminated at {{ xxx }}" style="color:maroon"></i>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="btns">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Control </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let booking">
          <button mat-icon-button (click)="onEdit(booking.id)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="onDelete(booking.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
  </ng-container>
  <ng-container *ngIf="mode == 'user'">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="idT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking"> {{booking.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startTimeT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Start time\date </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking"> {{booking.startTime | date:'short'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endTimeT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> End time\date </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking"> {{booking.endTime | date:'short'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="resourceIdT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Resource </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking"> <a [routerLink]="['/resources/' + booking.resourceId]"> {{getResourceNameById(booking.resourceId)}} </a> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noteT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking"> {{booking.note}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="terminationTimeT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> State </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking">
            <i *ngIf="isAfter(booking.startTime) && !isTerminated(booking.terminationTime)" class="far fa-clock" title="Awaiting" style="color:darkgoldenrod"></i>

            <span *ngIf="isInRange(booking.startTime, booking.endTime) && !isTerminated(booking.terminationTime)" class="fa-stack" title="In Progress" style="font-size: 0.7em;">
              <i class="fa fa-spinner fa-stack-2x fa-spin" style="color:gainsboro"></i>
              <i class="fa fa-check fa-stack-1x" style="font-size: 1.3em;color:rgba(34,139,34,0.6)"></i>
            </span>

            <i *ngIf="isBefore(booking.endTime) && !isTerminated(booking.terminationTime)" class="fas fa-check-double" title="Finished Successfully" style="color:forestgreen"></i>

            <i *ngIf="isTerminated(booking.terminationTime)" class="fas fa-ban" title="Terminated at {{ booking.booking.terminationTime | date:'short' }}" style="color:maroon"></i>

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="btns">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Control </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking">
            <button mat-icon-button (click)="onEdit(booking.id)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="onDelete(booking.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </ng-container>
  <ng-container *ngIf="mode == 'res'">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="resourceTimeWindowsdataSource">
        <ng-container matColumnDef="startTimeT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Start time\date </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking"> {{booking.startTime | date:'short'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endTimeT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> End time\date </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking"> {{booking.endTime | date:'short'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking"><span *ngIf="booking.booking!=null"><a [routerLink]="['/admin/users/' + booking.booking.createdUserId]">{{getUserName(booking.booking.createdUserId)}}</a></span> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noteT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking"> <span *ngIf="booking.booking!=null"> {{booking.booking.note}} </span></mat-cell>
        </ng-container>

        <ng-container matColumnDef="terminationTimeT">
          <mat-header-cell mat-header-cell *matHeaderCellDef> State </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking">
            <span *ngIf="booking.type == ResourceTimeWindowT.Free">Free</span>
            <span *ngIf="booking.type == ResourceTimeWindowT.ServiceTime">Service</span>
            <span *ngIf="booking.type == ResourceTimeWindowT.Booked">Booked</span>
            <span *ngIf="booking.type == ResourceTimeWindowT.My">My booking</span>
            <span *ngIf="booking.type == ResourceTimeWindowT.Lost">Lost time</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="btns">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Control </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let booking">
            <span *ngIf="booking.type != ResourceTimeWindowT.Lost">
              <span *ngIf="booking.booking != null && booking.endTime > currentTime">
                <button mat-icon-button (click)="onEdit(booking.booking.id)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="onDelete(booking.booking.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
              </span>
              <span *ngIf="booking.type == ResourceTimeWindowT.Free">
                <span class="btn button-row-create" *ngIf="this.userInfoService.isUser || this.userInfoService.isAdmin">
                  <button mat-icon-button (click)="onCreate(booking.startTime)"><mat-icon>add_circle</mat-icon></button>
                </span>
              </span>
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 [style.background]="getBgColorForResourceRow(row)"></mat-row>
      </mat-table>
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </ng-container>
</div>
