<div class="container">
    <div class="row">
      <div class="col-lg-3">
        <ul class="list-unstyled">
          <li><a routerLink='/cabinet'>Cabinet</a></li>
          <li><a routerLink='/admin'>Admin</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
          <li>
            <a href="#">Category 4</a>
            <ul>
              <li><a href="#">Child category 1</a></li>
              <li><a href="#">Child category 2</a></li>
              <li><a href="#">Child category 3</a></li>
            </ul>
          </li>
          <li><a href="#">Category 5</a></li>
          <li>
            <a href="#">Category 6</a>
            <ul>
              <li><a href="#">Child category 1</a></li>
              <li><a href="#">Child category 2</a></li>
              <li><a href="#">Child category 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="card" style="margin-bottom:20px;">
          <h5 class="card-header">Resource 1</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Detail</a>
          </div>
        </div>
        <div class="card" style="margin-bottom:20px;">
          <h5 class="card-header">Resource 2</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Detail</a>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Resource 3</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Detail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
