<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-8">

      <div *ngIf="apiError != ''" class="alert alert-danger" role="alert">
        {{ apiError }}
      </div>

      <div class="card">
        <div class="card-header">Sign Up</div>

        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="register()">

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right">Username</label>
              <div class="col-md-6">
                <input formControlName="userName" type="text" class="form-control underlined" id="userName"
                       placeholder="name">
                <span class="form-help-text" *ngIf="registerForm.get('userName').invalid && registerForm.get('userName').touched">
                  <span *ngIf="registerForm.get('userName')['errors']['required']">Field can`t be empty.<br /></span>
                  <span *ngIf="registerForm.get('userName')['errors']['minlength']">Enter more 3 character.</span>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right">Email</label>
              <div class="col-md-6">
                <input formControlName="email" type="text" class="form-control underlined" id="email"
                       placeholder="name@email.com">
                <span class="form-help-text" *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">
                  <span *ngIf="registerForm.get('email')['errors']['required']">Field can`t be empty.<br /></span>
                  <span *ngIf="registerForm.get('email')['errors']['email']">Field must be correct email.</span>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input formControlName="password" type="password" class="form-control underlined" id="password" [ngClass]="{'ng-invalid':registerForm.hasError('notSame')}"
                       placeholder="***">
                <span class="form-help-text" *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
                  <span *ngIf="registerForm.get('password')['errors']['required']">Field can`t be empty.</span>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right">Confirm Password</label>
              <div class="col-md-6">
                <input formControlName="confirmPassword" type="password" class="form-control underlined" [ngClass]="{'ng-invalid':registerForm.hasError('notSame')}"
                       id="confirmPassword" placeholder="***">
                <span class="form-help-text" *ngIf="registerForm.hasError('notSame') && registerForm.get('confirmPassword').touched">
                  <span *ngIf="registerForm.hasError('notSame')">Passwords don`t match.</span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-0">
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
                  Sign Up<span class="ti-user"></span>
                </button>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
