<mat-toolbar>
    <span>{{isUpdate? "Edit Rule": "New Rule"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn btn-md btn-dialog-close"(click)="onClose()">X</button>
</mat-toolbar>
<form [formGroup]="form"> 
  <mat-grid-list cols=2 rowHeight="300px"> 
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="id">
        <mat-form-field>
          <input formControlName="title" matInput placeholder="Title" autocomplete="off" >
          <mat-error *ngIf="title.errors?.required && title.touched">Title is required</mat-error>
          <mat-error *ngIf="title.errors?.minlength">Mfinimum 4 characters needed</mat-error>
          <mat-error *ngIf="title.errors?.maxlength">Maximum 64 characters</mat-error>
          <mat-error *ngIf="title.errors?.pattern">Incorrect title name</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="minTime" matInput placeholder="Min Time">
            <mat-error *ngIf="minTime.errors?.required && minTime.touched">Min time is required</mat-error>
            <mat-error *ngIf="minTime.errors?.pattern && minTime.touched">Incorrect min time</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="maxTime" matInput placeholder="Max Time">
            <mat-error *ngIf="maxTime.errors?.required && maxTime.touched">Max time is required</mat-error>
            <mat-error *ngIf="maxTime.errors?.pattern && maxTime.touched">Incorrect max time</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="serviceTime" matInput placeholder="Service Time">
            <mat-error *ngIf="serviceTime.errors?.required && serviceTime.touched">Service time is required</mat-error>
            <mat-error *ngIf="serviceTime.errors?.pattern && serviceTime.touched">Incorrect service time</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="stepTime" matInput placeholder="Step Time">
          <mat-error *ngIf="step.errors?.required && step.touched">Step time is required</mat-error>
          <mat-error *ngIf="step.errors?.pattern && step.touched">Incorrect step time</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="reuseTimeout" matInput placeholder="Reuse timeout">
            <mat-error *ngIf="reuse.errors?.required && step.touched">Reuse timeout is required</mat-error>
            <mat-error *ngIf="reuse.errors?.pattern && step.touched">Incorrect reuse timeout</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="preOrderTimeLimit" matInput placeholder="Pre-order time limit">
            <mat-error *ngIf="preOrder.errors?.required && step.touched">Pre order time limit is required</mat-error>
            <mat-error *ngIf="preOrder.errors?.pattern && step.touched">Incorrect pre order time limit </mat-error>
        </mat-form-field>
        <div>
          <mat-checkbox formControlName="isActive">Active Rule</mat-checkbox>
        </div>
        <div class="button-row">
          <button mat-raised-button (click)="onCreate()" [disabled]="form.invalid" *ngIf="!isUpdate" class="button-row-create" >Create</button>
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid" *ngIf="isUpdate">Submit</button>
          <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>