<form #form="ngForm" autocomplete="off">
  <input type="hidden" name="id" [ngModel]="service.Rule.id">
  <div class="form-group">
    <label>Title</label>
    <input name="title" #title="ngModel" [(ngModel)]="service.Rule.title" class="form-control" pattern="^[a-z0-9_-]{4,64}$" required>
    <div *ngIf="title.invalid && (title.dirty || title.touched)"  class="form-group validation-error">
        <p>Incorrect title</p>
    </div>
  </div>

  <div class="row">
  <div class="form-group col-md-4">
    <label>Min Time</label>
    <input name="minTime"  #minTime="ngModel"  [(ngModel)]="service.Rule.minTime" class="form-control" pattern="^[0-9]{1,}$" required> 
    <div *ngIf="minTime.invalid && (minTime.dirty || minTime.touched)" class="form-group validation-error">
      <p>Incorrect min time</p>
  </div>
  </div>
  <div class="form-group col-md-4">
    <label>Max Time</label>
    <input name="maxTime" #maxTime="ngModel" [(ngModel)]="service.Rule.maxTime" class="form-control" pattern="^[0-9]{1,}$" required>
    <div *ngIf="maxTime.invalid && (maxTime.dirty || maxTime.touched)" class="form-group validation-error">
      <p>Incorrect max time</p>
    </div>
  </div>
  <div class="form-group col-md-4">
      <label>Step Time</label>
      <input name="stepTime" #stepTime="ngModel" [(ngModel)]="service.Rule.stepTime" class="form-control" pattern="^[0-9]{1,}$" required>
      <div *ngIf="stepTime.invalid && (stepTime.dirty || stepTime.touched)" class="form-group validation-error">
        <p>Incorrect step time</p>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label>Service Time</label>
      <input name="serviceTime" #serviceTime="ngModel" [(ngModel)]="service.Rule.serviceTime" class="form-control" pattern="^[0-9]{1,}$" required>
      <div *ngIf="serviceTime.invalid && (serviceTime.dirty || serviceTime.touched)" class="form-group validation-error">
        <p>Incorrect service time</p>
    </div>    
    </div>
    <div class="form-group col-md-4">
      <label>Pre order time Limit</label>
      <input name="preOrderTimeLimit" #preOrderTimeLimit="ngModel" [(ngModel)]="service.Rule.preOrderTimeLimit" class="form-control" pattern="^[0-9]{1,}$" required>
      <div *ngIf="preOrderTimeLimit.invalid && (preOrderTimeLimit.dirty || preOrderTimeLimit.touched)" class="form-group validation-error">
        <p>Incorrect pre order time limit</p>
    </div> 
    </div>
    <div class="form-group col-md-4">
      <label>Reuse Timeout</label>
      <input name="reuseTimeout" #reuseTimeout="ngModel" [(ngModel)]="service.Rule.reuseTimeout" class="form-control" pattern="^[0-9]{1,10}$" required>
      <div *ngIf="reuseTimeout.invalid && (reuseTimeout.dirty || reuseTimeout.touched)" class="form-group validation-error">
        <p>Incorrect reuse timeout</p>
    </div> 
    </div>
  </div>
  <div class="form-check  form-check-inline">
    <label class="form-check-label">Active</label>
    <input type="checkbox" name="isActive"[(ngModel)]="service.Rule.isActive" class="form-check-input" >
 </div>

<div class="row" *ngIf="service.showAdditionalInfo==true" >
 <div class="form-group col-md-6" >
    <label>Created</label>
    <input name="createdTime" [ngModel]="service.Rule.createdTime | date: 'dd-MMM-yyyy, hh:mm:ss'" class="form-control form-control-createdTime" readonly>
  </div>
  <div class="form-group col-md-6">
    <label>Created by</label>
    <input name="createdUserId" [ngModel]="service.Rule.createdUserId | userName" class="form-control form-control-createdUserId" readonly>
  </div>
</div>
<div class="row" *ngIf="service.showAdditionalInfo==true">
  <div class="form-group col-md-6">
      <label>Updated</label>
      <input name="updatedTime" [ngModel]="service.Rule.updatedTime | date: 'dd-MMM-yyyy, hh:mm:ss'" class="form-control form-control-updatedTime" readonly>
    </div>
    <div class="form-group col-md-6">
      <label>Updated by</label>
      <input name="updatedUserId" [ngModel]="service.Rule.updatedUserId | userName" class="form-control form-control-updatedUserId" readonly>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
      <button (click)="onReset(form)" class="btn btn-block btn-danger">Reset</button>
    </div>
    <div class="form-group col-md-6" *ngIf="service.showAdditionalInfo==true">
      <button (click)="onSubmit(form)" [disabled]="form.invalid" class="btn btn-submit btn-block btn-primary">Submit</button>
    </div>
    <div class="form-group col-md-6" *ngIf="service.showAdditionalInfo==false"> 
      <button (click)="onAdd(form)" [disabled]="form.invalid" class="btn btn-submit btn-block btn-success">Add</button>
    </div>
</div>
</form>