.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 5%;
}

.controles-container > *{
    width: 100%;
}

.button-row button{
    margin: 5px;
}

.button-row-create{
    background-color: #28a745;
    color: #fff;
}

.fill-remaining-space{
    flex: 1 1 auto;
}

.btn-dialog-close{
    color: #fff;
    background-color: #dc3535;
}
