.form-check-input{
    margin-left: 8px;
}

.form-check-inline{
    margin-bottom: 6px;
}

 input.ng-dirty.ng-invalid{
    border-color: #dc3545;
} 

/* input.ng-dirty.ng-valid{
    border-color: #008000;
}  */

div.validation-error{
    width: 100%;
    color: #dc3545;
    margin-top: 0.2 rem;
    font-size: 85%;
}

.form-control-createdTime,.form-control-createdUserId,.form-control-updatedTime,.form-control-updatedUserId{
    background-color: #fff;
}

.form-control-createdTime,.form-control-createdUserId,.form-control-updatedTime,.form-control-updatedUserId:hover{
    cursor: default;
}