<div [ngSwitch]="mode">
  <ng-container *ngSwitchCase="modeType.Admin">
    <table>
      <tr *ngFor="let booking of bookings" class="alert alert-primary">
        <td>{{booking.id}}</td>
        <td>{{booking.resourceId}}</td>
        <td>{{booking.startTime}}</td>
        <td>{{booking.endTime}}</td>
        <td>{{booking.note}}</td>
        <td>{{booking.terminationTime}}</td>
        <td>{{booking.createdUserId}}</td>
      </tr>
    </table>
  </ng-container>
  <ng-container *ngSwitchCase="modeType.User">
    <table>
      <tr *ngFor="let booking of bookings" class="alert alert-primary">
        <td>{{booking.id}}</td>
        <td>{{booking.resourceId}}</td>
        <td>{{booking.startTime}}</td>
        <td>{{booking.endTime}}</td>
        <td>{{booking.note}}</td>
        <td>{{booking.terminationTime}}</td>
        <td>{{booking.createdUserId}}</td>
      </tr>
    </table>
  </ng-container>
  <ng-container *ngSwitchCase="modeType.Resource">
    <div *ngFor="let resourceTimeWindow of resourceTimeWindows" [ngSwitch]="resourceTimeWindow.type">
      <ng-container *ngSwitchCase="ResourceTimeWindowT.Booked">
        <div class="alert alert-danger" style="width: 100%;">
          <p>Booked from {{resourceTimeWindow.startTime | date:'short'}} to {{resourceTimeWindow.endTime | date:'short'}}</p>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="ResourceTimeWindowT.ServiceTime">
        <div class="alert alert-warning" style="width: 100%;">
          <p>Service time from {{resourceTimeWindow.startTime | date:'short'}} to {{resourceTimeWindow.endTime | date:'short'}}</p>
        </div>  
      </ng-container>
      <ng-container *ngSwitchCase="ResourceTimeWindowT.Free">
        <div class="alert alert-success" style="width: 100%;">
          <p>Free from {{resourceTimeWindow.startTime | date:'short'}} to {{resourceTimeWindow.endTime | date:'short'}}</p>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
