<div *ngIf="resource">
  <span class="resource-modifies fright" *ngIf="authService.isAdmin">
    <a title="Edit resource" [routerLink]="['/admin/resources', resource.id, 'edit']"><i class="fas fa-wrench fa-lg"></i></a>
  </span>
  <h1 class="display-3">
    {{ resource.title }}
    <span class="redundand" *ngIf="resource.isActive != true"> (inactive)</span>
  </h1>
  
  <p>{{ resource.description }}</p>
</div>

<div class="alert alert-warning" *ngIf="resource">
  <span class="resource-modifies fright" *ngIf="authService.isAdmin">
    <a title="Edit rule" [routerLink]="['/admin/rules', resource.ruleId, 'edit']"><i class="fas fa-wrench fa-lg"></i></a>
  </span>
  <app-rule [ruleId]="resource.ruleId"></app-rule>
</div>

<hr />

<div class="row bookings-block">
  <div class="row">
    <h2 class="h2">Bookings</h2>
  </div>
  <div class="row">
    <app-bookings></app-bookings>
  </div>
</div>
