.entry {
  width:100%;
  background-color: aliceblue;
  padding: 12px;
}

.entry:hover {
  background-color: lightgrey;
}

.fright {
  float: right;
}


.indicator {
  width: 50px;
  height: 20px;
  background-color: darkseagreen;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 3px 4px rgba(0,0,0,.24);
}

  .indicator > .occupied {
    background-color: indianred;
    box-shadow: inset 0 3px 4px rgba(0,0,0,.24), 2px 0 2px rgba(0,0,0,.24);
  }





.entry:hover .control {
  display:block;
}

.control {
  padding-left: 24px;
  display: none;
}


.redundand {
  color: lightgray;
}
