.card i {
  font-size: 4rem;
  color: #ccc;
  float: right;
  padding: 0 0 0 1rem;
}

@media(max-width:300px) {
  .card i {
    display: none;
  }
}

@media(min-width:768px) {
  .card i {
    font-size: 6rem;
  }
}
