<h2 class="text-center">Welcome, {{userInfo.username}}!</h2>

<div class="card-deck my-4" >

  <div class="card">
    <div class="card-body">
      <i class="far fa-address-card"></i>
      <h5 class="card-title">Personal Data</h5>
      <p class="card-text">Manage your personal data such as name and password.</p>
    </div>
    <div class="card-footer bg-transparent">
      <a routerLink="/cabinet/user/{{userInfo.userId}}/edit" class="btn btn-primary m-1">Change name</a>
      <a routerLink="/cabinet/user/{{userInfo.userId}}/change-password" class="btn btn-primary m-1">Change password</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <i class="far fa-calendar-alt"></i>
      <h5 class="card-title">My Bookings</h5>
      <p class="card-text">
        View and manage the bookings you have made.
        Their time, status, description, cancellation status
        are available from this seciton.
      </p>
    </div>
    <div class="card-footer bg-transparent">
      <a routerLink="/cabinet/bookings" class="btn btn-primary m-1">Review and Manage</a>
    </div>
  </div>

</div>


