<article>
  <header>
    <h1>Terms of Service</h1>
  </header>

  <div>
    <p>Below are our Terms of Service, which outline a lot of legal goodies, but the bottom line is it’s our aim to always take care of both you. We’ve included many of these terms to legally protect ourselves, but if you have an issue, always feel free to email us.</p>
    <ol>
      <li>
        <strong>Application of Terms</strong>
        <ol>
          <li>By visiting and/or taking any action on this site, you confirm that you are in agreement with and bound by the terms outlined below. These terms apply to the website, emails, or any other communication.</li>
        </ol>
      </li>
    </ol>
  </div>
</article>
