<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
          <div *ngIf="!isParamsExist" class="alert alert-danger" role="alert">
            Cannot reset password, wrong url params
          </div>

            <div class="card">
              <div class="card-header">Reset password</div>

                <div class="card-body">
                    <form [formGroup]="resetForm" (ngSubmit)="reset()">

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" for="password">Password</label>
                            <div class="col-md-6">
                                <input formControlName="password" type="password" class="form-control underlined" [ngClass]="{'ng-invalid':resetForm.hasError('notSame')}"
                                    id="password" placeholder="***">
                                <span class="form-help-text" *ngIf="resetForm.get('password').invalid && resetForm.get('password').dirty">
                                  <span *ngIf="resetForm.get('password')['errors']['required']">Field can`t be empty.</span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" for="confirmPassword">Confirm Password</label>
                            <div class="col-md-6">
                              <input formControlName="confirmPassword" type="password" class="form-control underlined" [ngClass]="{'ng-invalid':resetForm.hasError('notSame')}"
                                     id="confirmPassword" placeholder="***">
                              <span class="form-help-text" *ngIf="resetForm.hasError('notSame') && resetForm.get('confirmPassword').dirty">
                                <span *ngIf="resetForm.hasError('notSame')">Passwords don`t match.</span>
                              </span>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="resetForm.invalid || !isParamsExist">Reset
                                    <span class="ti-user"></span></button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
