<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sign In</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Sign In</div>

                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Email</label>

                            <div class="col-md-6">
                                <input name="email" formControlName="email" type="text" class="form-control underlined"
                                    id="email" placeholder="name@email.com">
                            </div>
                        </div>

                        <div class="form-group row offset-md-4">
                            <div class="alert alert-danger"
                                *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                                Not valid field
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input name="password" formControlName="password" type="password"
                                    class="form-control underlined" id="password" placeholder="***">
                            </div>
                        </div>

                        <div class="form-group row offset-md-4">
                            <div class="alert alert-danger"
                                *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                                Not valid field
                            </div>
                        </div>

                        <div class="form-group row offset-md-2">
                            <a routerLink="/forget">Forget password</a>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Sign
                                    In<span class="ti-user"></span></button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>