<div class="container">

    <div class="row justify-content-center">
      <div class="col-md-8">

        <div class="card">
          <div class="card-header">Sign In</div>

          <div class="card-body">

            <div *ngIf="apiError != ''" class="alert alert-danger" role="alert">
              {{ apiError }}
            </div>

            <div *ngIf="authService.isUser" class="alert alert-danger" role="alert">
              Firstly logout, please
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="login()">

              <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right" for="email">Email</label>
                <div class="col-md-6">
                  <input name="email" formControlName="email" type="text" class="form-control underlined"
                         id="email" placeholder="name@email.com">
                  <span class="form-help-text" *ngIf="loginForm.get('email').invalid && loginForm.get('email').dirty">
                    <span *ngIf="loginForm.get('email')['errors']['required']">Field can`t be empty.<br /></span>
                    <span *ngIf="loginForm.get('email')['errors']['email']">Field must be correct email.</span>
                  </span>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right" for="password">Password</label>
                <div class="col-md-6">
                  <input name="password" formControlName="password" type="password"
                         class="form-control underlined" id="password">
                  <span class="form-help-text" *ngIf="loginForm.get('password').invalid && loginForm.get('password').dirty">
                    <span *ngIf="loginForm.get('password')['errors']['required']">Field can`t be empty.</span>
                  </span>
                </div>
              </div>

              <div class="form-group row offset-md-4">
                <a routerLink="/forget" class="foreget_link">Forgot password?</a>
              </div>

              <div class="form-group row mb-0">
                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-primary"
                          [disabled]="loginForm.invalid || authService.isUser">
                    Sign
                    In<span class="ti-user"></span>
                  </button>
                </div>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
</div>
