

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" *ngIf="(user && userForm && (!user.isBlocked || isAdmin == true))">
  <!--*ngIf="model && resourceForm"-->
  <!--<h2>Hello {{user.userName}}</h2>-->
  <div class="errors">
    <p class="alert alert-danger" [hidden]="!userForm.controls['userName'].errors || userForm.controls['userName'].pristine">Please keep length of 3 to 64 characters.</p>
    <p class="alert alert-danger" [hidden]="!userForm.controls['email'].errors">Please keep description length less that 512 characters.</p>
  </div>
  <div>
    UserName:<br />
    <input type="text" formControlName="userName" class="form-control" minlength="3" maxlength="64" required />
  </div>
  <br />

  <div>
    Email:<br />
    <input formControlName="email" class="form-control" minlength="5" maxlength="64" required />
  </div>

  <br />
  <div *ngIf="isAdmin == true && updateMode == true">
    <div *ngIf="user.approvalStatus == null">
      <button (click)="approveUser()" type="button" class="btn btn-success" style="width:200px;" [disabled]="!userForm.valid">Approve</button>
      <button (click)="rejectUser()" type="button" class="btn btn-danger" style="width:200px;" [disabled]="!userForm.valid">Reject</button>
    </div>
    <br />
    <div>
      <span *ngIf="user.approvalStatus == true" class="alert-success">User approved</span>
      <span *ngIf="user.approvalStatus == false" class="alert-danger">User rejected</span>
    </div>
    <br/>
    <div>
      <button (click)="blockUser()" *ngIf="user.isBlocked == false" type="button" class="btn btn-danger" style="width:200px;" [disabled]="!userForm.valid">Block</button>
      <button (click)="unBlockUser()" *ngIf="user.isBlocked == true" type="button" class="btn btn-success" style="width:200px;" [disabled]="!userForm.valid">UnBlock</button>
    </div>
  </div>

  <br />

  <div>
    <button type="submit" class="btn btn-success" style="width:200px;" [disabled]="!userForm.valid">Post</button>
  </div>

</form>

<div *ngIf="user && user.isBlocked && isAdmin == false">
  <span class="alert-danger">
    You have been blocked
  </span>
</div>

