<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/cabinet">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Personal cabinet</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                <a routerLink="/cabinet/bookings" class="list-group-item list-group-item-action">My bookings</a>
                <a href="#" class="list-group-item list-group-item-action">Change password</a>
            </div>
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>