<div class="container">
    <div class="row">
        <!--<div class="col-2">
            <div class="list-group">
                <a routerLink="/cabinet/bookings" class="list-group-item list-group-item-action">My bookings</a>
                <a routerLink="/cabinet/user-edit" class="list-group-item list-group-item-action">Edit profile</a>
            </div>
        </div>-->
        <!--<div class="col-10">-->
            <router-outlet></router-outlet>
        <!--</div>-->
    </div>
</div>
