<div *ngIf="loaded">
  <a [routerLink]="['/admin/users','create']" class="btn btn-outline-success mb-2">Create admin</a>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th style="width:20px;">#</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Read</th>
      </tr>
    </thead>
    <tbody>
      <tr class="user-item" *ngFor="let user of userPage.items; let i = index">
        <td><b>{{ i+1+(this.page * 10 - 10) }}</b></td>
        <td>
          <a [routerLink]="['/admin/users', user.id]">{{user.userName}}</a>
        </td>
        <td>{{user.email}}</td>
        <td><a [routerLink]="['/admin/users', user.id]"><i class="fas fa-eye"></i></a></td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item page-link" *ngFor="let p of userPage.paging.arrayTotalPages; let i=index" (click)="getUserPages(i+1,10)">{{i+1}}</li>
    </ul>
  </nav>
</div>
