body {
}
ul{
  list-style: none;
}
tr th
{
  text-align:center;
  width:250px;
}
.icon {
  margin: 0 5%;
}
tr td {
  text-align: center;
}
.user-item:hover {
  background-color: #f8f8f8;
}
.fa-lock {
  color: #FF3737 !important;
}
.fa-check {
  color: #007bff !important;
  font-size: 18px!important;
}
.fa-times
{
  color: #FF3737 !important;
  font-size: 18px !important;
}
.fa-check:hover {
  transform: scale(1.2);
}

.fa-times:hover {
  transform: scale(1.2);
}
.fa-lock:hover {
  transform: scale(1.2);
}
.fa-lock-open:hover {
  transform: scale(1.2);
}
.fa-lock-open {
  color: #2acc56 !important;
}
.right {
  float: right;
  display: inline-block;
  width: 5px;
  margin: 0 5% 0 0;
}
.page 
{
  display:inline-block;
}
.paginationLi {
  position:relative;
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  background-color: #e9ecef;
}
.pagination-blue {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
.paginationLi:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

