<div *ngIf="loaded">
  <ul  onload="getUserPages(1,10)">
    <li class="user-item" *ngFor="let user of userPage.items">
      {{user.userName}}
      {{user.isBlocked}}
      {{user.approvalStatus}}
      <span>
        <i (click)="blockButton(user.id)" class="right" [ngClass]="user.isBlocked ? 'fas fa-lock' : 'fas fa-lock-open'"></i>
        <span *ngIf="user.approvalStatus == null">
          <i (click)="approvalButton(user.id,false)" class="right fas fa-times"></i>
          <i (click)="approvalButton(user.id,true)" class="right fas fa-check"></i>
        </span>
        <span *ngIf="user.approvalStatus == true">
          <i class="right fas fa-check"></i>
        </span>
        <span *ngIf="user.approvalStatus == false">
          <i class="right fas fa-times"></i>
        </span>
      </span>

    </li>
  </ul>
  <ul>
    <li class="pagination" [ngClass]="page == i+1 ? 'pagination pagination-blue' : 'pagination'" *ngFor="let p of userPage.paging.arrayTotalPages; let i=index" (click)="getUserPages(i+1,10) ">
      {{i+1}}
    </li>
  </ul>
</div>

