<h2>BookingData</h2>
<div *ngIf='mode != "view"'>
  <form [formGroup]="form">
      <div class="form-group">
        <label>StartTime</label><input type="text" name="startTime" />
      </div>
      <div class="form-group">
        <label>EndTime</label><input type="text" name="endTime" />
      </div>
      <div class="form-group">
        <label>Description</label><input type="text" name="description" />
      </div>
    <!--<input type="submit" value="mode == 'edit' ? 'Save' : 'Create'"/>-->
  </form>
</div>
<div *ngIf='mode == "view"'>
  <p><label>StartTime = {{booking.startTime}}</label></p>
  <p><label>EndTime = {{booking.endTime}}</label></p>
  <p><label>Description = {{booking.note}}</label></p>
</div>
