<ul *ngIf="Rule && isAdmin">
  <li><p>Rule: {{Rule.title}}</p></li>
  <li><p>Minimum time: {{showTime(Rule.minTime)}}, maximum: {{showTime(Rule.maxTime)}}.</p></li>
  <li *ngIf="Rule.serviceTime !=0"><p >Service time: {{showTime(Rule.serviceTime)}}.</p></li>
  <li *ngIf="Rule.stepTime !=0"><p >Step time: {{showTime(Rule.stepTime)}}.</p></li>
  <li *ngIf="Rule.reuseTimeout !=0"><p >Reuse timeout: {{showTime(Rule.reuseTimeout)}}.</p></li>
  <li *ngIf="Rule.preOrderTimeLimit !=0"><p >Pre order time limit: {{showTime(Rule.preOrderTimeLimit)}}.</p></li>
</ul>

<p *ngIf="Rule && !isAdmin">
  <span>Minimum time for this resource usage is {{showTime(Rule.minTime)}}, maximum - {{showTime(Rule.maxTime)}}.</span>
  <span *ngIf="Rule.serviceTime !=0">Keep in mind, that this resource needs some {{showTime(Rule.serviceTime)}} for restoration.</span>
  <span *ngIf="Rule.reuseTimeout !=0">This resource has a constraint, you have to wait {{showTime(Rule.reuseTimeout)}} before you can book it again.</span>
  <span *ngIf="Rule.preOrderTimeLimit !=0">Notice, you can book book {{showTime(Rule.preOrderTimeLimit)}} in advance max.</span>
</p>
