<h5>This resource has some rules, you should know about:</h5>
<ul *ngIf="Rule">
  <li><p>Minimum time for usage is {{Rule.minTime}} minute(s), maximum - {{Rule.maxTime}}.</p></li>
  <li *ngIf="Rule.serviceTime !=0"><p >This resource needs some {{Rule.serviceTime}} minute(s) for restoration.</p></li>
  <li *ngIf="Rule.stepTime !=0"><p >Keep in mind, that this resource has a step time: {{Rule.stepTime}} minute(s).</p></li>
  <li *ngIf="Rule.reuseTimeout !=0"><p >This resource has a constraint, you have to wait {{Rule.reuseTimeout}} minutes before you can book it again.</p></li>
  <li *ngIf="Rule.preOrderTimeLimit !=0"><p >Notice, the most allowable timespan between booking and resource's using start time is {{Rule.preOrderTimeLimit}} hours.</p></li>
</ul>